#root {
  background-color: #d39248;
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  max-width: 1440px;
  margin: 0 auto;
  background-color: #d39248;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

code {
  
}
